[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/shajdin/EurekaServer
[submodule "UserEurekaProject"]
	path = UserEurekaProject
	url = https://github.com/shajdin/UserEurekaProject
[submodule "WebEurekaClient"]
	path = WebEurekaClient
	url = https://github.com/shajdin/WebEurekaClient
